mule-hazelcast-cluster/src/main/resources/mule.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns:vm="http://www.mulesoft.org/schema/mule/vm" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:spring="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="
	 http://www.springframework.org/schema/context
            http://www.springframework.org/schema/context/spring-context-3.0.xsd
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd 
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/3.3/mule.xsd 
http://www.mulesoft.org/schema/mule/vm http://www.mulesoft.org/schema/mule/vm/3.3/mule-vm.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/3.3/mule-http.xsd ">
	
	<spring:bean name="customQueueStore" class="com.github.fengshunzhang.store.CustomQueueStore">
		<spring:property name="queue" value="_defaultQueue"></spring:property>
	</spring:bean>
	
	<vm:connector name="vmconnector">
		<vm:queue-profile>
			<queue-store ref="customQueueStore"></queue-store>
		</vm:queue-profile>
	</vm:connector>
	<flow name="node">
		<http:inbound-endpoint address="http://localhost:8888/in/message">
			<not-filter>
				<wildcard-filter pattern="/favicon.ico"></wildcard-filter>
			</not-filter>
		</http:inbound-endpoint>
		<vm:outbound-endpoint connector-ref="vmconnector" path="shareQueue"></vm:outbound-endpoint>
	</flow>
	
	<flow name="next">
		<vm:inbound-endpoint connector-ref="vmconnector" path="shareQueue"></vm:inbound-endpoint>
		<logger level="INFO" message="#[payload]"></logger>
	</flow>
</mule>